:root {
    --background-primary: #fff;
    --background-secondary: #f2f2f2;
}

body {
    padding: 0;
    margin: 0;
    font-family: 'arial',sans-serif;
    background-color: var(--background-secondary);
}

a:hover, button:hover, input[type="submit"]:hover, .btn:hover, .button:hover {
    cursor: pointer;
}

a {
    color: #1473c6;
    text-decoration: none;
}

a:hover {
    color: #0c5ea6;
}

.main-container {
    width: 1200px;
    margin: 3em auto;
}

.form-title {
    font-size: 2em;
    font-family: 'Arial', san-serif;
    margin-bottom: 10px;
}

.form-group {
    margin: 2.5px 0px;
    padding: 2.5px 0px;
}

.form-control {
    border: none;
    font-size: 1.2em;
    padding: 13px 10px;
    outline: none;
    background: #f7f7f7;
}

.flex,
.flex-align-center,
.flex-content-center,
.flex-content-start,
.flex-content-end,
.flex-content-space-between,
.flex-content-space-around,
.flex-row,
.flex-column,
.flex-grow { display: flex !important; }

.flex-align-center { align-items: center; }
.flex-content-center { justify-content: center; }
.flex-content-start { justify-content: flex-start; }
.flex-content-end { justify-content: flex-end; }
.flex-content-space-between { justify-content: space-between; }
.flex-content-space-around { justify-content: space-around; }
.flex-grow { flex-grow: 1; }

.flex-row    { flex-direction: column; }
.flex-column { flex-direction: row; }
