:root {
    --background-primary:       #fff;
    --background-secondary:     #f2f2f2;

    --alert-background-info:    #e3ebff;
    --alert-background-success: #e3ffe7;
    --alert-background-warning: #fff0e3;
    --alert-background-danger:  #ffe3e3;
    --alert-color-default:      #333;
    --alert-color-info:         #245e91;
    --alert-color-success:      #087d10;
    --alert-color-warning:      #7d5508;
    --alert-color-danger:       #7d0808;
    --alert-border-default:     #ddd;
    --alert-border-info:        #96ceff;
    --alert-border-success:     #a5ff9e;
    --alert-border-warning:     #ffd59e;
    --alert-border-danger:      #ff9e9e;

    --button-background-default: #eee;
    --button-background-info:    #1c7fff;
    --button-background-success: #05c605;
    --button-background-warning: #ffa704;
    --button-background-danger:  #fd2828;
    --button-color-default:      #333;
    --button-color-info:         #fff;
    --button-color-success:      #fff;
    --button-color-warning:      #fff;
    --button-color-danger:       #fff;
    --button-border-default:     #ddd;
    --button-border-info:        #116ee6;
    --button-border-success:     #1ca41c;
    --button-border-warning:     #c89b47;
    --button-border-danger:      #db0606;
}

body {
    padding: 0;
    margin: 0;
    font-family: 'arial',sans-serif;
    background-color: var(--background-secondary);
}

a:hover, button:hover, input[type="submit"]:hover, .btn:hover, .button:hover {
    cursor: pointer;
}

a {
    color: #1473c6;
    text-decoration: none;
}

a:hover:not(.button) {
    color: #0c5ea6;
}

.main-container {
    width: 1200px;
    margin: 3em auto;
}

.form-title {
    font-size: 2em;
    font-family: 'Arial', san-serif;
    margin-bottom: 10px;
}

.form-group {
    margin: 2.5px 0px;
    padding: 2.5px 0px;
}

.form-control {
    border: none;
    font-size: 1.2em;
    padding: 13px 10px;
    outline: none;
    background: #f7f7f7;
}

.flex,
.flex-align-center,
.flex-content-center,
.flex-content-start,
.flex-content-end,
.flex-content-space-between,
.flex-content-space-around,
.flex-row,
.flex-column,
.flex-grow { display: flex !important; }

.flex-align-center { align-items: center; }
.flex-content-center { justify-content: center; }
.flex-content-start { justify-content: flex-start; }
.flex-content-end { justify-content: flex-end; }
.flex-content-space-between { justify-content: space-between; }
.flex-content-space-around { justify-content: space-around; }
.flex-grow { flex-grow: 1; }

.flex-row    { flex-direction: column; }
.flex-column { flex-direction: row; }
