body {
    margin: 0;
    padding: 0;
    background-color: var(--background-secondary);
}

.login-container {
    background-color: var(--background-primary);
	width: 400px;
    padding: 10px;
    border-bottom: 1px solid #d2d2d2;
    border-right: 1px solid #ddd;
    border-radius: 3px;
}

.form-signin {
    padding: 20px;
    margin-top: 20px;
}

.sr-only {
	margin-bottom: 8px;
	color: white;
	font-size: 16px;
	margin-left: 28px;
	margin-top: 10px;
}

.form-control {
    border: none;
    font-size: 1.2em;
    padding: 10px;
    outline: none;
    background: #f7f7f7;
}

.btn-login {
    border: 1px solid #0d79d7;
    margin-top: 1em;
    font-size: 1.5em;
    background: #2a9cff;
    color: #fff;
    padding: 10px 5px;
    border-radius: 3px;
}

.btn-login:hover { background: #2191f2; }

.register {
	position: absolute;
	bottom: 250px;
	left: 770px;
	font-size: 20px;
    top: 680px;
    display: flex;
}
