<div class="main-container flex-content-center flex-align-center" th:fragment="login">
    <div class="login-container flex-row">
        <form id="loginForm" class="form-signin flex-row" method="post" action="/login">
            <div class="form-title flex-content-center flex-align-center">Sign In</div>
            <div class="form-group flex-row">
                <input type="text" id="username" name="username" class="form-control" placeholder="Username" required autofocus>
                <input type="password" id="password" name="password" class="form-control" placeholder="••••••••" required>
            </div>
            <div class="form-group flex-row">
                <button class="btn btn-login btn-primary btn-block" type="submit">Sign in</button>
            </div>
            <div class="form-group flex-row">
                <span>Don't have an account? <a href="/auth/recoverpassword">Create one!</a></span>
                <span>Lost password? <a href="/auth/recoverpassword">Recover now</a></span>
            </div>
        </form>
    </div>
</div>
